{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/classifier.css' %}"/>
<link href="{% static 'css/cropper.css' %}" rel="stylesheet">
<script src="{% static 'js/cropper.js' %}"></script>
<script src="{% static 'js/canvas-to-blob.js' %}"></script>
<script src="{% static 'js/crsf_token.js' %}"></script>
<script src="{% static 'js/image_upload.js' %}"></script>
<script src="{% static 'chart/Chart.js' %}"></script>

<div class="container">
	<h1>Convolutional Neural Networks</h1>
	<h2><i>Classifying images with deep machine learning</i></h2>
	<hr>
	<h3>
		Categories
	</h3>
	<p class = "categories">
				airplane •
				automobile • 
				bird •
				cat •
				deer •
				dog •
				frog •
				horse •
				ship •
				truck
	</p>
	<hr>

	<div class = "upload">
		<input type="file" id = "file" class = "inputfile" accept="image/*" onchange="loadFile(event)" id = "thingy">
			<label for="file" class="btn btn-default">Upload</label>
		</input>
	</div>
	<br>
	<br>
	<div class="output">
		<img id="output">
		
	</div>
	<br>
	<div class = "classify">
	</div>
	<br>

	<div class = "graph_container">
	</div>


</div>
{% endblock content %}